html {
    width: 1000px;
    margin: 50px 100px 100px 100px;
  }
  
  h3 {
    text-decoration: underline;
  }
  
  .container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr ;
    justify-items: center;
  }
  
  .container2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr;
    justify-items: center;
  }